#####################################################
# Angular
#####################################################

**/node_modules/
**/dist/
**/tmp/
**/out-tsc/
**/bazel-out/
**/.angular/cache/
**/coverage/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#####################################################
# Angular IDE files
#####################################################

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.history/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

#####################################################
# .NET
#####################################################

**/bin/
**/obj/

#####################################################
# Entity Framework Migrations
#####################################################

Expenses.API/Migrations/
Expenses.API/appsettings.json

#####################################################
# Visual Studio
#####################################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

#####################################################
# Secrets
#####################################################

**/appsettings.Local.json
**/secrets.json

#####################################################
# Optional - Ignore appsettings.json
# Uncomment ONLY if you do not want to commit it
#####################################################

# **/appsettings.json

#####################################################
# Miscellaneous
#####################################################

.sass-cache/
connect.lock
libpeerconnection.log
testem.log
typings/
__screenshots__/

.DS_Store
Thumbs.db